* {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
}

.img-border {
  border: 5px solid #006400;
}

.img-circle {
  border-radius: 50%;
}

html,
body,
h2,
h4,
p {
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #caee9f;
}

section {
  padding: 40px 10px;
}

@media (min-width: 1750px) {
  section:not(#hero) {
    margin: 0 auto;
    max-width: 1500px;
    width: 90%;
  }
}

h2 {
  padding: 0 0 10px 0;
  font-family: "Poppins", sans-serif;
  font-size: clamp(1.5rem, 2vw, 1.9rem);
  font-weight: 600;
}

fieldset,
ul {
  padding: 0;
}

fieldset {
  border: 0;
}

button {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

@font-face {
  font-family: "RealityCheck";
  src: url("/assets/fonts/RealityCheckDEMO.otf");
}
header.row {
  height: 8vh;
  background-color: #006400;
  color: #aad576;
  justify-content: center;
}
header.row h2 {
  padding: 0 0 0 0;
  align-self: center;
}

main section#hero.grid {
  height: 92vh;
  background-color: #d7c27e;
  overflow: hidden;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: auto;
  grid-template-areas: "title" "image" "text";
  justify-content: center;
}
@media (min-width: 1000px) {
  main section#hero.grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
}
main section#hero.grid h1 {
  grid-area: title;
  font-family: "RealityCheck";
  font-size: clamp(2rem, 4vw, 5rem);
  letter-spacing: 4px;
  -webkit-text-stroke: 1px black;
  text-stroke: 1px black;
  color: #006400;
  justify-self: center;
  text-align: center;
}
@media (min-width: 1000px) {
  main section#hero.grid h1 {
    font-size: 6rem;
    justify-self: none;
  }
}
main section#hero.grid #hero__img {
  grid-area: image;
  border-radius: 20px;
  width: 50%;
  justify-self: center;
}
main section#hero.grid #hero__img.slide-in-left {
  margin-left: 0;
}
@media (min-width: 500px) {
  main section#hero.grid #hero__img {
    width: 30%;
  }
}
@media (min-width: 1000px) {
  main section#hero.grid #hero__img {
    width: 30em;
  }
  main section#hero.grid #hero__img.slide-in-down {
    margin-top: 0;
  }
}
main section#hero.grid .slide-in-left {
  animation: ease-in-out 1s slide-left;
  margin-left: 0;
}
@keyframes slide-left {
  0% {
    margin-left: -1000px;
  }
  100% {
    margin-left: 0;
  }
}
main section#hero.grid .slide-in-down {
  animation: ease-in-out 1s slide-down;
  margin-top: 0;
}
@keyframes slide-down {
  0% {
    margin-top: -1000px;
  }
  100% {
    margin-top: 0;
  }
}
main section#hero.grid p {
  grid-area: text;
  color: #006400;
  font-size: clamp(1.5rem, 3vw, 2rem);
  text-align: center;
  font-weight: 500;
  margin-top: 10px;
  text-wrap: balance;
}
@media (min-width: 1000px) {
  main section#hero.grid p {
    margin-top: 0;
    width: 20em;
    text-wrap: wrap;
  }
}
main section#quote {
  grid-template-columns: auto;
  grid-template-rows: repeat(4, 1fr);
}
@media (min-width: 800px) {
  main section#quote {
    grid-template-columns: repeat(2, 1fr);
  }
}
main section#quote .quote__cell {
  padding: 30px 0;
}
main section#quote #quote__line {
  font-weight: 600;
  font-size: clamp(1.25rem, 4vw, 3rem);
  justify-items: center;
  -webkit-text-stroke: 1px black;
  text-stroke: 1px black;
  color: #006400;
}
@media (min-width: 1000px) {
  main section#quote #quote__line {
    text-wrap: nowrap;
    justify-items: normal;
  }
}
main section#quote #quote__line #quote__line-1 {
  grid-row: 1;
  transform: rotate(-5deg);
}
@media (min-width: 500px) {
  main section#quote #quote__line #quote__line-1 {
    grid-column: 1;
    justify-self: end;
  }
}
main section#quote #quote__line #quote__line-2 {
  grid-row: 2;
  transform: rotate(5deg);
}
@media (min-width: 500px) {
  main section#quote #quote__line #quote__line-2 {
    grid-column: 2;
  }
}
main section#quote #quote__line #quote__line-3 {
  grid-row: 3;
  transform: rotate(-5deg);
}
@media (min-width: 500px) {
  main section#quote #quote__line #quote__line-3 {
    grid-column: 1;
    justify-self: end;
  }
}
main section#quote #quote__line #quote__line-4 {
  grid-row: 4;
  transform: rotate(5deg);
}
@media (min-width: 500px) {
  main section#quote #quote__line #quote__line-4 {
    grid-column: 2;
  }
}
main section#about.col {
  align-items: center;
  justify-content: center;
}
main section#about.col #about__content.col {
  align-items: center;
  justify-content: center;
}
@media (min-width: 500px) {
  main section#about.col #about__content.col {
    justify-content: space-around;
    text-align: center;
  }
}
@media (min-width: 800px) {
  main section#about.col #about__content.col {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
main section#about.col #about__content.col p {
  margin: 20px 0;
  text-wrap: balance;
  text-align: center;
}
@media (min-width: 800px) {
  main section#about.col #about__content.col p {
    width: 50%;
  }
}
@media (min-width: 1000px) {
  main section#about.col #about__content.col p {
    font-size: 1.5rem;
  }
}
main section#about.col #about__content.col img {
  width: 80%;
  border-radius: 20px;
}
@media (min-width: 500px) {
  main section#about.col #about__content.col img {
    width: 20em;
  }
}
@media (min-width: 1000px) {
  main section#about.col #about__content.col img {
    width: 30em;
  }
}
main section#ingredients.col {
  padding: 40px 0;
  font-size: clamp(1.5rem, 3vw, 3rem);
  font-weight: 600;
  align-items: center;
  justify-content: center;
}
main section#ingredients.col img {
  width: 90%;
  border-radius: 20px;
}
@media (min-width: 500px) {
  main section#ingredients.col img {
    width: 50%;
  }
}
main section#ingredients.col svg#ingredients__underline {
  width: 10em;
  height: 0.5em;
  fill: #006400;
}
main section#ingredients.col svg#ingredients__underline path {
  opacity: 0;
}
main section#ingredients.col svg#ingredients__underline path.draw-in {
  opacity: 1;
}
main section#ingredients.col svg#ingredients__underline .draw-in {
  opacity: 1;
  animation: ease-in-out 1s draw;
}
@keyframes draw {
  0% {
    transform: scale(0, 1);
    opacity: 0;
  }
  50% {
    transform: scale(1, 1);
    opacity: 1;
  }
}
main section#effects {
  background-color: #aad576;
  text-align: center;
}
main section#effects ul#effects__list {
  list-style: none;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: auto;
  grid-row-gap: 30px;
  grid-template-areas: "effect-1" "effect-2" "effect-3" "effect-4";
}
@media (min-width: 500px) {
  main section#effects ul#effects__list {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-template-areas: "effect-1" "effect-2", "effect-3" "effect-4";
  }
}
@media (min-width: 1000px) {
  main section#effects ul#effects__list {
    grid-template-rows: 0;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 0px;
    grid-template-areas: "effect-1" "effect-2" "effect-3" "effect-4";
  }
}
main section#effects ul#effects__list #effect-1 {
  grid-area: effect-1;
}
@media (min-width: 500px) {
  main section#effects ul#effects__list #effect-1 {
    grid-row: 1;
    grid-column: 1;
  }
}
@media (min-width: 1000px) {
  main section#effects ul#effects__list #effect-1 {
    grid-column: 1;
  }
}
main section#effects ul#effects__list #effect-2 {
  grid-area: effect-2;
}
@media (min-width: 500px) {
  main section#effects ul#effects__list #effect-2 {
    grid-row: 1;
    grid-column: 2;
  }
}
@media (min-width: 1000px) {
  main section#effects ul#effects__list #effect-2 {
    grid-column: 2;
  }
}
main section#effects ul#effects__list #effect-3 {
  grid-area: effect-3;
}
@media (min-width: 500px) {
  main section#effects ul#effects__list #effect-3 {
    grid-row: 2;
    grid-column: 1;
  }
}
@media (min-width: 1000px) {
  main section#effects ul#effects__list #effect-3 {
    grid-column: 3;
  }
}
main section#effects ul#effects__list #effect-4 {
  grid-area: effect-4;
}
@media (min-width: 500px) {
  main section#effects ul#effects__list #effect-4 {
    grid-row: 2;
    grid-column: 2;
  }
}
@media (min-width: 1000px) {
  main section#effects ul#effects__list #effect-4 {
    grid-column: 4;
  }
}
main section#effects ul#effects__list li.effect.col {
  align-items: center;
  opacity: 0;
}
main section#effects ul#effects__list li.effect.col img {
  width: 60%;
}
@media (min-width: 1000px) {
  main section#effects ul#effects__list li.effect.col img {
    width: 80%;
  }
}
main section#effects ul#effects__list li.effect.col .effect_label {
  margin-top: 10px;
  font-size: clamp(1.5rem, 3vw, 3rem);
}
main section#effects ul#effects__list li.effect.col.fade-in {
  opacity: 1;
}
main section#effects ul#effects__list .fade-in {
  animation: ease-in-out 4s slide;
  opacity: 1;
}
@keyframes slide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
main section#effects #effect__small-print {
  font-size: 0.6rem;
}
@media (min-width: 500px) {
  main section#effects #effect__small-print {
    margin-top: -50px;
  }
}
@media (min-width: 1000px) {
  main section#effects #effect__small-print {
    margin-top: 0px;
  }
}
main section#product {
  padding: 40px 0;
}
main section#product #product__content.grid {
  grid-template-columns: auto;
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "product-image" "product-title" "product-radio-volume" "product-input-quantity" "product-request-btn";
  justify-content: center;
}
@media (min-width: 1000px) {
  main section#product #product__content.grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "product-image" "product-title" "product-radio-volume" "product-input-quantity" "product-request-btn";
    justify-content: center;
    column-gap: 20px;
  }
}
main section#product #product__content.grid #product__content-image {
  grid-area: product-image;
  grid-row: 1;
  justify-self: center;
}
@media (min-width: 1000px) {
  main section#product #product__content.grid #product__content-image {
    grid-row: 1/-1;
  }
}
main section#product #product__content.grid #product__content-image img {
  width: 70%;
  border-radius: 20px;
  align-self: center;
}
@media (min-width: 1000px) {
  main section#product #product__content.grid #product__content-image img {
    width: clamp(30em, 10vw, 60em);
  }
}
main section#product #product__content.grid #product__content-image p {
  margin-top: 5px;
  font-size: 0.6rem;
  align-self: center;
}
@media (min-width: 1000px) {
  main section#product #product__content.grid #product__content-image p {
    font-size: 1rem;
  }
}
main section#product #product__content.grid #product__title {
  grid-area: product-title;
  grid-row: 2;
  justify-self: center;
  font-size: 1.5rem;
  text-wrap: balance;
}
@media (min-width: 1000px) {
  main section#product #product__content.grid #product__title {
    grid-row: 1;
    grid-column: 2;
    justify-self: start;
    font-size: clamp(1rem, 2.75vw, 2.75rem);
  }
}
main section#product #product__content.grid #product__radio.col {
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}
@media (min-width: 500px) {
  main section#product #product__content.grid #product__radio.col {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }
}
@media (min-width: 1000px) {
  main section#product #product__content.grid #product__radio.col {
    flex-direction: column;
  }
}
main section#product #product__content.grid #product__radio.col #product__radio-volume {
  grid-area: product-radio-volume;
  grid-row: 3;
  border: 0;
  align-self: center;
}
@media (min-width: 1000px) {
  main section#product #product__content.grid #product__radio.col #product__radio-volume {
    align-self: self-start;
  }
}
main section#product #product__content.grid #product__radio.col #product__radio-volume label {
  padding: 10px 20px;
  border: 2px solid #006400;
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
}
@media (min-width: 800px) {
  main section#product #product__content.grid #product__radio.col #product__radio-volume label {
    margin: auto;
  }
}
@media (min-width: 1000px) {
  main section#product #product__content.grid #product__radio.col #product__radio-volume label {
    font-size: 1.1rem;
  }
}
@media (min-width: 1000px) {
  main section#product #product__content.grid #product__radio.col #product__radio-volume legend {
    font-size: 1.25rem;
  }
}
main section#product #product__content.grid #product__radio.col #product__radio-volume input[type=radio] {
  opacity: 0;
  position: fixed;
  width: 0;
}
main section#product #product__content.grid #product__radio.col #product__radio-volume input[type=radio] + label {
  background-color: #c2e2c2;
  margin-right: 10px;
}
main section#product #product__content.grid #product__radio.col #product__radio-volume input[type=radio]:checked + label {
  background-color: #aad576;
}
main section#product #product__content.grid #product__radio.col #product__input-quantity {
  grid-area: product-input-quantity;
  grid-row: 4;
}
@media (min-width: 1000px) {
  main section#product #product__content.grid #product__radio.col label {
    font-size: 1.25rem;
  }
}
main section#product #product__content.grid #product__radio.col input {
  width: 60px;
  font-size: 1rem;
  text-indent: 38%;
}
main section#product #product__content.grid #product__radio.col input[type=text] {
  border: 2px solid #006400;
  background-color: #c2e2c2;
  border-radius: 5px 0 0 5px;
}
main section#product #product__content.grid button#add-to-cart-btn {
  grid-area: product-request-btn;
  grid-row: 5;
  justify-self: center;
  width: 90%;
  padding: 10px 0;
  margin-top: 20px;
  font-size: 0.9rem;
  border: transparent;
  border-radius: 5px;
  background-color: #d7c27e;
}
@media (min-width: 1000px) {
  main section#product #product__content.grid button#add-to-cart-btn {
    grid-column: 2;
    grid-row: 3;
    width: 10em;
    margin-top: 40px;
    font-size: 1rem;
    justify-self: self-start;
  }
}
main section#product #product__content.grid button#quantity-btn-decrease {
  border-radius: 0 5px 0 0;
  border: 2px solid #006400;
  background-color: #c2e2c2;
}
main section#product #product__content.grid button#quantity-btn-increase {
  border-radius: 0 0 5px 0;
  border: 2px solid #006400;
  background-color: #c2e2c2;
}
main section#recommend.col {
  align-items: center;
  background-color: #caee9f;
}
main section#recommend.col h2 {
  text-align: center;
}
main section#recommend.col #recommend__drinks.grid {
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr;
  grid-template-areas: "drink-1" "drink-2" "drink-3" "drink-4";
  justify-items: center;
  row-gap: 15px;
}
@media (min-width: 500px) {
  main section#recommend.col #recommend__drinks.grid {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "drink-1" "drink-2", "drink-3" "drink-4";
  }
}
@media (min-width: 1000px) {
  main section#recommend.col #recommend__drinks.grid {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "drink-1" "drink-2" "drink-3" "drink-4";
    row-gap: 0px;
  }
}
main section#recommend.col #recommend__drinks.grid li.col {
  align-items: center;
}
main section#recommend.col #recommend__drinks.grid li.col img {
  width: 70%;
  border-radius: 20px;
}
@media (min-width: 1000px) {
  main section#recommend.col #recommend__drinks.grid li.col img {
    width: 70%;
    max-width: 50em;
  }
}
main section#recommend.col #recommend__drinks.grid li.col p {
  margin-top: 5px;
  align-self: center;
}
@media (min-width: 500px) {
  main section#recommend.col #recommend__drinks.grid li.col p {
    text-wrap: wrap;
    text-align: center;
  }
}
main section#recommend.col #recommend__drinks.grid li.col #drink-1 {
  grid-area: drink-1;
}
main section#recommend.col #recommend__drinks.grid li.col #drink-2 {
  grid-area: drink-2;
}
main section#recommend.col #recommend__drinks.grid li.col #drink-3 {
  grid-area: drink-3;
}
main section#recommend.col #recommend__drinks.grid li.col #drink-4 {
  grid-area: drink-4;
}

footer {
  background-color: #aad576;
  padding: 10px;
  font-size: 0.7rem;
  text-align: center;
}
